@use "variables" as v;

body {
    background-color: v.$black;
    // color: white;
    font-family: v.$primary-font;
    margin: 16px;
    padding: 16px;
}

h1 {
    color: v.$white;
    }