@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

header.header {
    // @include m.breakpoint(desktop){
    //     width: 100%;
    // }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 16px 16px 0px 16px;
        gap: 20px;
        background: linear-gradient(180deg, v.$gradient-start 0%, v.$gradient-end 100%);
        max-width: 414px; 
        margin-inline: auto;
        @include m.breakpoint(tablet){
            max-width: 768px;
            .menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;
                padding: 16px;
                box-sizing: border-box;
                }
            }
        @include m.breakpoint(desktop){
            max-width: 1170px;
            padding: 0 89.51px 0 0;
            width: 100%;
            .menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 100%;
                // padding: 16px;
                box-sizing: border-box;
                }
            }

        .contenedor-fondo{
            z-index: 1;
            .persona-movil{
                display: block;
                width: 100%;
            }
            .persona-tablet{
                display: none;
            }
            .persona-desktop{
                display: none;
            }
            @include m.breakpoint(tablet){
                .persona-movil{
                    display: none;
                }
                .persona-desktop{
                    display: none;
                }
                .persona-tablet{
                    display: block;
                    // width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 322px;
                    height: auto;
                }
            }
            @include m.breakpoint(desktop){
                .persona-movil{
                    display: none;
                }
                .persona-tablet{
                    display: none;
                }
                .persona-desktop{
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 444.88px;
                    height: auto;
                }
            }
        }
        ul {
            @include m.reset_list();
            gap: 16px;
        }
        .social {
            // position: relative;
            // @include m.breakpoint(tablet){
            //     position: fixed;
            //     // top: 16px;
            //     // right: 16px;
            // }
            z-index: 3;
            // flex-shrink: 0;
            // margin-right: auto;
        }
        .btn{
            @include m.button();
        }
        a {
            text-decoration: none;
            color: v.$white;
        }
        h1 {
            font-size: 1.5rem;
            @include m.breakpoint(tablet){
                // font-size: 1rem;
            }
        }
        // .contenedor-fondo { 
        // }
        .circulo{
            position: absolute;
            width: 90%;
            padding: 0;
            margin: 0;
            height: auto;
            border-radius: 50%;
            
            top: 230px;
            left: 345px;
            z-index: 0;
            @include m.breakpoint(tablet){
                top: 470px;
                left: 705px;
                z-index: 2;
            }
            @include m.breakpoint(desktop){
                display:none;
            }
        }
        .circulo_desktop{
            display:none;
            @include m.breakpoint(desktop){
                display:block;
                position: absolute;
                width: 100%;
                height: auto;
                top: 515px;
                left: 660px;
                z-index: 2;
            }
        }
    }
}
.oval__Desktop {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    overflow: hidden;
    // width: 100%;
    // height: auto;
    // top: 120px;
    // left: -52%;
    // background-color: white;
    // border-radius: 50% / 10%;
    stroke: v.$gray_2;
    // transform: translateY(-50%);
    // z-index: 1;
    @include m.breakpoint(desktop){
        width: 90%;
        // position: absolute;
        // top: 120px;
        // left: -52%;
        // width: 100%;
        // height: auto;
        // background-color: white;
        // border-radius: 50% / 10%;
        // stroke: v.$gray_2;
        // transform: translateY(-50%);
        // z-index: 1;
    }
}

.oval__Desktop__1,
.oval__Desktop__2,
.oval__Desktop__3,
.oval__Desktop__4,
.oval__Desktop__5 {
    position: absolute;
    left: -100%;
    width: 150%;
    height: 100%;
    @include m.breakpoint(tablet){
        left: -85%;
    }
    @include m.breakpoint(desktop){
        width: 300px;
        left: 50px;
        // position: absolute;
        // top: 120px;
        // left: -52%;
        // width: 100%;
        // height: auto;
        // background-color: white;
        // border-radius: 50% / 10%;
        // stroke: v.$gray_2;
        // transform: translateY(-50%);
        z-index: 3;
    }
}

.oval__Desktop__1 {
    top: -20px;
    @include m.breakpoint(tablet){
        top: 80px;
    }
    // z-index: 1;
    @include m.breakpoint(desktop){
        top: 80px;
    }
}
.oval__Desktop__2 {
    top: -8px;
    @include m.breakpoint(tablet){
        top: 92px;
    }
    // z-index: 2;
    @include m.breakpoint(desktop){
        top: 87px;
    }
}
.oval__Desktop__3 {
    top: 2px;
    @include m.breakpoint(tablet){
        top: 102px;
    }
    // z-index: 3;
    @include m.breakpoint(desktop){
        top: 94px;
    }
}
.oval__Desktop__4 {
    top: 14px;
    @include m.breakpoint(tablet){
        top: 114px;
    }
    // z-index: 4;
    @include m.breakpoint(desktop){
        top: 101px;
    }
}       
.oval__Desktop__5 {
    top: 26px;
    @include m.breakpoint(tablet){
        top: 126px;
    }
    // z-index: 5;
    @include m.breakpoint(desktop){
        top: 108px;
    }
}