@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

main.main {
    margin-top: 40px;
    padding: 16px;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            max-width: 414px; 
            margin-inline: auto;
            @include m.breakpoint(tablet){
                max-width: 768px;
                align-items: flex-start;
                }
        
            h2 {
                font-size: 2.5rem;
                .salto-tablet {
                    display: none;
                    }
                @include m.breakpoint(tablet){
                    font-size: 4rem;
                    z-index: 1;
                    .salto-tablet {
                        display: inline;
                        }
                    }
                }
            span {
                text-decoration: underline;
                text-decoration-color: v.$green;
                text-decoration-thickness: 3px;
                text-underline-offset: 4px;
            }
            p {
                font-size: 1rem;
                color: v.$gray_3;
                .salto-tablet {
                    display: none;
                    }
                @include m.breakpoint(tablet){
                    font-size: 1.15rem;
                    z-index: 1;
                    .salto-tablet {
                        display: inline;
                        }
                    }
            }
            
        .btn{
            @include m.button();      
            }
    }
}   