@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.container2 {
    position: relative;
    margin-top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 414px; 
    margin-inline: auto;
    .skills_sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .skills_section  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
                color: v.$gray_3;
            }
        }
    }
    .title__projects{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80px;
        // flex-wrap: wrap;
        justify-content: space-between;
        margin: 80px 16px 0 16px;
        h1{
            font-size: 2rem;
            // color: red;
        }
        h3{
            font-size: 1rem;
            letter-spacing: 2px;
            color: v.$gray_3;
        }
    }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            gap:15px;
            text-align: right;
            // @include m.breakpoint(tablet){
            //     color: red;
            // }
        }
    }  

// .hero__oval__desktop {
//     position: absolute;
// }

.hero__oval__Desktop__1,
.hero__oval__Desktop__2,
.hero__oval__Desktop__3,
.hero__oval__Desktop__4,
.hero__oval__Desktop__5 {
        position: absolute;
        width: 100%;
        height: auto;
        // left: 10%;
        right: -50%;
        top: 70%;
        stroke: v.$gray_2;
        z-index: -1;
}

.hero__oval__Desktop__1 {
    top: 72%;
}
.hero__oval__Desktop__2 {
    top: 74%;
}   
.hero__oval__Desktop__3 {
    top: 76%;
}
.hero__oval__Desktop__4 {
    top: 78%;
}
.hero__oval__Desktop__5 {
    top: 80%;
}