@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.container2 {
    position: relative;
    margin-top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 414px; 
    margin-inline: auto;
    @include m.breakpoint(tablet){
        max-width: 768px;
        // align-items: flex-start;
        .linea_hero_movil{
            width: 100%;
        }
        .linea_hero_movil_inferior{
            display: none;
        }
    }
    @include m.breakpoint(desktop){
        margin-top: 200px;
        max-width: 1170px;
        // .linea_hero_movil{
        //     width: 90%;
        //     height: 0%;
            
        // }

    }
    .skills_sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include m.breakpoint(tablet){
            flex-direction: row;     /* Los ponemos uno al lado del otro */
            flex-wrap: wrap;         /*  Permite que se vayan abajo */
            justify-content: space-between;
            align-items: stretch;
            gap: 40px;
            width: 100%;
        }
        .skills_section  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @include m.breakpoint(tablet){
                width: calc(50% - 40px); /* 50% del ancho menos el gap de 40px */    
                align-items: flex-start; /* Alineamos el contenido a la izquierda */
            }
            @include m.breakpoint(desktop){
                margin-top: 40px;
                width: calc(33% - 40px); /* 33% del ancho menos el gap de 40px */    
                align-items: flex-start; /* Alineamos el contenido a la izquierda */
            }
            h2 {
                font-size: 1.5rem;
                @include m.breakpoint(tablet){
                    font-size: 2.25rem;
                }
            }
            p {
                font-size: 1rem;
                color: v.$gray_3;
            }
        }
    }
}
    .title__projects{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80px;
        // flex-wrap: wrap;
        justify-content: space-between;
        margin: 80px 16px 0 16px;
        @include m.breakpoint(tablet){
            width: 100%;
            padding: 16px;
        }
        h1{
            font-size: 2rem;
            @include m.breakpoint(tablet){
                font-size: 3.25rem;
            }
        }
        h3{
            font-size: 1rem;
            letter-spacing: 2px;
            color: v.$gray_3;
        }
    }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            gap:15px;
            text-align: right;
            transition: all 0.3s ease;
            :hover {
            color: v.$green;          /* Cambia el color a azul */
            transform: scale(1.05);   /* Agranda el texto un 5% */
            // padding-left: 10px;       /* Lo desplaza un poco a la derecha */
            cursor: pointer; 
            }
        }

// .hero__oval__desktop {
//     position: absolute;
// }

.hero__oval__Desktop__1,
.hero__oval__Desktop__2,
.hero__oval__Desktop__3,
.hero__oval__Desktop__4,
.hero__oval__Desktop__5 {
        position: absolute;
        width: 100%;
        height: auto;
        // left: 10%;
        right: -50%;
        top: 70%;
        stroke: v.$gray_2;
        z-index: -1;
        @include m.breakpoint(tablet){
            right: -20%;
            width: 40%;
        }
}

.hero__oval__Desktop__1 {
    top: 72%;
    @include m.breakpoint(tablet){
        top: 60%;
    }
}
.hero__oval__Desktop__2 {
    top: 74%;
    @include m.breakpoint(tablet){
        top: 62%;
    }
}   
.hero__oval__Desktop__3 {
    top: 76%;
    @include m.breakpoint(tablet){
        top: 64%;
    }
}
.hero__oval__Desktop__4 {
    top: 78%;
    @include m.breakpoint(tablet){
        top: 66%;
    }
}
.hero__oval__Desktop__5 {
    top: 80%;
    @include m.breakpoint(tablet){
        top: 68%;
    }
}